.MainPage {
  background: url('../../assests/1.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#delete-button {
  width: 3vw;
  height: 3vh;
}
.container {
  padding-top: 6vh;
}
.filter_input_container {
  width: 200px;
  margin: auto;
  padding-top: 15vh;
  background: #fff;
  height: 40px;
  border-radius: 40px;
  border: 2px solid red;
  padding: 10px;
  display: flex;
  align-items: center;
  transition: 0.4s;
}

.filter_input {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: red;
  font-size: 20px;
  transition: 0.4s;
  width: 0px;
  font-family: 'Roboto Slab';
}

.filter_input_container:hover > .filter_input {
  width: 120px;
  padding: 40px;
}

.filter_input::placeholder {
  color: red;
  font-size: 20px;
}

.fa-heartbeat {
  color: red;
  padding-left: 40%;
}

.heart {
  animation-duration: 1s;
}

.filter_input_container:hover > .fa-heartbeat {
  width: 30px;
}

.filter_input_container:hover > .svg-inline--fa.fa-w-16 {
  padding-right: 80px;
  padding-left: 0%;
}
.svg-inline--fa.fa-w-16 {
  width: 20%;
}
.filter_input_container:hover {
  width: 300px;
}

.fileUploadContainer {
  position: fixed;
  top: 20%;
  width: 100%;
}
.fileUploadBox {
  border: 2px solid #ef4572;
  border-radius: 4px;
  width: 225px;
  margin: auto;
}
input[type='file'] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width: 200px;
  display: flex;
  align-items: center;
  background: white;
  margin: auto;
}
.sendTagButton {
  width: 100% !important;
}

@media (max-width: 600px) {
  .fileUploadContainer {
    position: fixed;
    top: 25%;
    width: 100%;
  }
  .fileUploadBox {
    width: 60%;
  }

  #delete-button {
    width: 8vw;
    height: 4vh;
  }
}
